---
layout: default
---
<section class="wiki">
    <p>
        York/Sheridan Design was a four-year university degree program delivered jointly by York University located in 
        Toronto, Ontario and Sheridan College in Oakville, Ontario, running from 1999–2022. This was the first and largest program 
        in Ontario that offered the Bachelor of Design Specialized Honours degree.
    </p>
    <p>
        Beginning with the class entering in 2019, four-year design students can enroll in a new Bachelor of Design program offered 
        by York University or Sheridan College's Bachelor of Interaction Design or Bachelor of Experiential Design programs.
        <br><br>
        The joint program has been <em>discontinued</em>.
    </p>
</section>

<section class="content">
    {% for year in site.data._years %}
        {% assign graduates = year[1].graduates %}
        {% if graduates %}
            {% assign yearGraduates = graduates | size %}
            {% assign totalGraduates = totalGraduates | plus: yearGraduates %}
        {% endif %}
    {% endfor %}
    <h2>Graduates <sup>({{ totalGraduates }})</sup></h2>
    <div class="content-scrollcontainer">
        <ul class="year-list">
            {% for year in site.data._years reversed %}
            {% assign graduates = year[1].graduates %}
            {% assign archivepublished = year[1].archivepublished %}
                {% if graduates %}
                <li class="year-list-item">
                    <h3><time datetime="{{ year[1].year }}">{{ year[1].year }} </time><sup>({{ year[1].graduates | size }})</sup></h3>
                    <div class="year-list-item-archivelinkcontainer">
                        {% if archivepublished == true %}
                        <a href="archives/{{ year[1].year }}" class="link">View Gradshow</a>
                        {% endif %}
                    </div>
                    <ul class="graduate-list">
                    {% for graduate in graduates %}
                        <li>{{ graduate }}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
            <li class="year-list-item year-list-final-item">
                <h3>...2003 <sup>(???)</sup></h3>
                <p>If you have information about grad show website files or graduate lists not yet available here, please get in touch!</p>
                <a class="link" href="https://github.com/ysdn-info/ysdn.info">ysdn.info on GitHub</a>
            </li>
        </ul>
    </div>
</section>

<section class="content">
    <h2>Contributors  <sup>(4)</sup></h2>
    <ul class="contributor-list">
        <li>Chris Vitas — Archive Prep, 2009</li>
        <li>Henry Wilkinson — Site Code</li>
        <li>Theo Nguyen — Archive Prep, 2022</li>
        <li>Zilin Deng — Site Code, Creator</li>
        </ul>
</section>
